@{
    ViewData["Title"] = "Show User Page";
}

@foreach (var user in ViewBag.ThisUser)
{
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>Name: @user.Name</h3></div>
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item"><h4>Alias: @user.Alias</h4></li>
          <li class="list-group-item"><h4>Email: @user.EmailAddress</h4></li>
          <li class="list-group-item"><h4>Total number of likes: <span class="badge">@user.UserLikes.Count</span></h4></li>
          <li class="list-group-item"><h4>Total number of posts: <span class="badge">@user.UserIdeas.Count</span></h4></li>
        </ul>
      </div>
}


